.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
 }
.footer-2 {
   padding-top: 10px;
   margin-top: 25px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
 }

 .col-white {
    color: white;
 }

 .pos-rel {
   position: relative;
 }